*{
  padding: 0;
  margin: 0;
  background-color: #d6d5d5;
}
a{
  text-decoration: none;
}
header{
  width: 100%;
  height: auto;
  background-color: transparent;
}
#hInnerWrap{
  display: flex;
  background-color: transparent;
  height: auto;
  width: 90%;
  margin: 20px 5%;
  padding: 0;
}
#logoBox{
  margin: 0;
  flex: 1;
}
#logoText{
  background-color: transparent;
  color: #000008f6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 26px;
}
section{
  display: block;
}
#sInnerWrap{
  display: flex;
  background-color: #000008f6;
  height: 570px;
  width: 90%;
  margin: 20px 5%;
  padding: 0;
}
#fInnerWrap{
  display: flex;
  background-color: #000008f6;
  height: auto;
  width: 90%;
  margin: 20px 5%;
  padding: 0;
}


/* for screen b/w 0-300px*/
@media (max-width: 300px){
  a{
    text-decoration: none;
  }
  header{
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  #hInnerWrap{
    display: flex;
    background-color: transparent;
    height: auto;
    width: 90%;
    margin: 20px 5%;
    padding: 0;
  }
  #logoBox{
    margin: 0;
    flex: 1;
  }
  #logoText{
    background-color: transparent;
    color: #000008f6;
    font-weight: bolder;
    font-size: 11px;
    line-height: 2.1;
  }
}

/* for screen b/w 300-450px*/
@media (max-width: 450px){ 
  @media (min-width: 300px){
    a{
      text-decoration: none;
    }
    header{
      width: 100%;
      height: auto;
      background-color: transparent;
    }
    #hInnerWrap{
      display: flex;
      background-color: transparent;
      height: auto;
      width: 90%;
      margin: 20px 5%;
      padding: 0;
    }
    #logoBox{
      margin: 0;
      flex: 1;
    }
    #logoText{
    background-color: transparent;
    color: #000008f6;
    font-weight: bolder;
    font-size: 14px;
    line-height: 2.1;
    }
  }
}

/* for screen b/w 300-450px*/
@media (max-width: 900px){ 
  @media (min-width: 451px){
    a{
      text-decoration: none;
    }
    header{
      width: 100%;
      height: auto;
      background-color: transparent;
    }
    #hInnerWrap{
      display: flex;
      background-color: transparent;
      height: auto;
      width: 90%;
      margin: 20px 5%;
      padding: 0;
    }
    #logoBox{
      margin: 0;
      flex: 1;
    }
    #logoText{
      background-color: transparent;
      color: #000008f6;
      font-weight: bolder;
      font-size: 20px;
      line-height: 2.1;
    }
  }
}